* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    height: 100vh;
    padding: 3em;
    
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;

    
    h1 {
        font-size: 5rem;
    }
}

.overlay {
    background: black;
    color: white;

    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 70ms;
}

.is-open {
    clip-path: circle(200% at 100% 100%);
    transition: clip-path 1.3s;
    transition-timing-function: cubir-bezier(1, -0.01, .01, .99);
}

span {
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    background: black;
    display: flex;
    gap: 5px;
}

.hover-btn2 {
    background: white;;
}

.hover-btn2 i {
    color: black;
}

i {
    color: white;
}