* {
    box-sizing: border-box;

}

body {
    height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    height: 100vh;
    padding: 3em;
    width: 100%;

    user-select: none;
    
    h1 {
        font-size: 5rem;
    }
}

.cursor {
    width: var(--dot-size, 50px);
    height: var(--dot-size, 50px);
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: calc(var(--y, 10%) - var(--dot-size, 50px) / 2);
    left: calc(var(--x, 10%) - var(--dot-size, 50px) / 2);
    border-radius: 50%;
    backdrop-filter: invert(100%);
    -webkit-backdrop-filter: blur(8px) brightness(0.7);
}

span {
    width: fit-content;
    padding: 30px;
    border-radius: 100px;
    background: black;
    display: flex;
    gap: 5px;
    color: white;
}

i {
    color: white;
}